/* reset */
body, html, ul, ol, li, dl, dt, dd, header, menu, section, p, table, input, td, th, ins {
	padding: 0;
	margin: 0;
}
html,body {
	width: 100%;
	height: 100%;
	border: 0;
	overflow: hidden
}

ul{
	font-size: 0px;
}
textarea, select, input, button {
	color: #444;
	font: 12px 'Microsoft Yahei',"Arial", "Hiragino Sans GB", "Helvetica", "sans-serif";
	-webkit-text-size-adjust: none;
}
section, header, main, article, aside, ins {
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #333;
	font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial';
}
p, span, a{
	color:rgba(140, 80, 92, 0.8);
	font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial';
}
em, i {
	font-style: normal;
	font-size: inherit;
}
img {
	border: 0;
}
textarea {
	resize: none;
	overflow: auto;
}
input:focus, textarea:focus, span:focus, a:focus, button:focus {
	outline: none;
}
a:link, a:hover, a:visited {
	text-decoration: none;
}
a, button {
	cursor: pointer;
	font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial';
}
ul, ol, li {
	list-style: none;
}
body{
	background: url('../img/bg-pc.jpg') 0 0/cover no-repeat;
}
body>div{
	height: 100%;
}

/* nav style */
.g-nav{
	height: 38px;
	background-color: #1f6cb0;
}
.g-nav .logo{
	width: 38px;
}

/* middle style */
.g-mid{
	text-align: center;	
}
.g-mid .m-title{
	text-align: center;
	margin: 40px 0 20px 0;
	font-size: 38px;
	color: rgb(156, 156, 154);
}

.g-mid #m-time{
	text-align: center;
	margin: 20px 0 50px 0;
	font-size: 30px;
	color: #dd356e;
}
.g-mid .m-form{
	position: relative;
	display: inline-block;
	/* display: none; */
	width: 70%;
	margin-top: 35px;
	text-align: center;	
}
.g-mid .m-form input{
	width: 80%;
	min-width: 220px;
	max-width: 560px;
	padding: 5px;
	margin-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #34699a;
	background-color: transparent;
	font-size: 15px;
}
.rest  span{
	color:#f75757;
}
.total span{
	color:#f75757
}
.pcount span{
	color:#f75757
}
.pcount{
	margin-top:140px
}
.m-form .login{
	width: 70px;
	text-align: center;	
	font-size: 15px;
	margin-bottom: 30px;
	background-color: #6eb6ff;
	border-color: #6eb6ff;
}
.m-form .login:active{
	background-color: #4993fa;
	border-color: #4993fa;
}
.m-ticket .total,.m-ticket .rest ,.m-ticket .pcount{
	line-height: 1.5;
	font-size: 20px;
	color:  rgb(187, 111, 122);
}


.g-mid .m-ticket{
	margin-top:280px;
	/* display: none; */
}

.m-ticket .grab{
	width: 72px;
	height: 72px;
	margin-top: 0px;
	font-weight: bold;
	color: #f9a1bc; 
	background-color: rgba(238, 238, 238, 0.83);
	border: 1px solid #eb89b5;
	box-shadow: 0 0 5px #eb89b5;
	border-radius: 36px;
}

.m-ticket .grab:active{
	color: #eb89b5;
	box-shadow:inset 0 0 5px #eb89b5;
}

.invite__form {
	margin: 15px auto;
	background-color: rgba(0, 0, 0, 0.16);
	text-align: left;
	max-width: 350px;
	color: #333;
	padding: 30px;
	font-size: 18px;
	border-radius: 3px;
	padding-bottom: 15px;
	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
}
.CenteredPage__field {
	color:#f5f5f5;
	margin-bottom: 15px;
}
.CenteredPage__field input, .CenteredPage__field textarea {
	display: block;
	width: 100%;
	font: inherit;
	outline: none;
	height: 40px;
	color: white;
	border: 0;
	background-color: rgba(252, 248, 227, 0.57);
}
.btn-raised.btn-primary {
	background-color:rgba(150, 151, 152, 0.82);
	font-size:18px
}
.CenteredPage__field .btn-raised {
	width: 100%;
	margin: 0;
}
.btn:focus{
	outline: 0!important;
}
.btn-raised {
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	color: white !important;
	font-family: inherit;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #999;
	z-index: 2;
	position: relative;
	border: 0;
	border-radius: 3px;
	-webkit-font-smoothing: subpixel-antialiased;
	box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
	-webkit-transition: all .1s;
	transition: all .1s;
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.po-login{
		margin:160px auto;
		width:100%;
		position:fixed
	}
/*计时器*/
ul.countdown {
	list-style: none;
	margin: 18px 0;
	padding: 0;
	display: block;
	text-align: center;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 58px;
	font-weight: 300;
	line-height: 80px;
}
ul.countdown li.seperator {
	font-size: 72px;
	line-height: 70px;
	vertical-align: top;
}
ul.countdown li p {
	color: rgba(140, 80, 92, 0.8);
	font-size: 14px;
}
button{
	outline:none;
	filter:chroma(color=#000000);
}
/* 中等屏幕（大于等于 992px） */
@media screen and (min-width: 992px) {
	.g-mid .m-title{
		font-size: 38px;
	}
	.g-mid .m-form{
		margin-top: 50px;
	}
	.g-mid .m-form input{
		margin-bottom: 50px;
	}
}
@media screen and (max-width:700px) {
	body{
	 background: url('../img/bg-mo3.jpg') 0 0/cover no-repeat;
	}	
	ul.countdown li.seperator{
		font-size: 54px;
		color:#c9cad0
	}
	ul.countdown li span{
		font-size: 54px;	
	}
	ul.countdown{
		margin-top:-18px;
	}
	ul.countdown span{
		color:rgba(108, 138, 162, 0.83)
	}
	.invite__form{
		background-color: rgba(119, 119, 119, 0.43);
		margin:180px auto;
		padding:20px;
		max-width: 300px
	}
	.CenteredPage__field input{
		background-color:rgba(119, 119, 119, 0.41);
	}
	.btn-raised.btn-primary{
		background-color:rgba(27, 38, 65, 0.73)
	}
	.pcount,.rest,.total{
		text-align: left;
	}
	.pcount span,.rest span,.total span{
		color:#c9cad0
	}	
	.m-ticket .grab{
		margin-top: 100px
	}
	.pcount{
		margin-top:160px;
	}
	.m-ticket{
		padding: 68px 20px;
	}
	.m-ticket .total,.m-ticket .rest ,.m-ticket .pcount{
		color:rgba(100, 129, 153, 0.84)
	}
	.m-ticket .grab{
		color:#5c768e;
		border:1px solid #5c768e;
		margin-top:-10px
	}
	.g-mid .m-ticket{
		margin:20px
	}
	.g-mid .m-title{
		color:rgba(196, 199, 182, 0.5)
	}
	.po-login{
		margin:0;
		width:100%;
		height:100%;
		position:fixed;
		overflow: hidden
	}
}